[Unit]
Description=CaddyManager stack orchestrator
Wants=podman.service caddy.service tailscaled.service
After=podman.service caddy.service tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/systemctl start caddymanager-backend.service caddymanager-frontend.service
ExecStop=/usr/bin/systemctl stop caddymanager-backend.service caddymanager-frontend.service

[Install]
WantedBy=multi-user.target
